.download-icon {
  font-size: 18px;           /* smaller */
  height: 18px;              /* match font-size */
  width: 18px;               /* match font-size */
  vertical-align: middle;    /* align with text */
  position: relative;
  top: -1px;                 /* tiny nudge for perfect alignment */
}

