<div animate.enter="fade-in">
  <!-- ===================== -->
  <!-- Education -->
  <!-- ===================== -->

  <h1 class="text-3xl mb-4">Education</h1>

  <div class="space-y-6">

    <div class="flex justify-between items-start">
      <div>
        <div class="text-xl font-semibold">M.Sc. in Computer Science</div>
        <div class="text-gray-300">RWTH Aachen University, DE</div>
      </div>
      <mat-chip class="cv-chip ml-4">10/2024 - Now</mat-chip>
    </div>

    <div class="flex justify-between items-start">
      <div>
        <div class="text-xl font-semibold">B.Sc. in Computer Science</div>
        <div class="text-gray-300">University of Salzburg, AT</div>
        <div class="text-gray-400 mt-1">
          <span class="font-medium">Bachelor’s thesis:</span>
          <em><a href="/assets/peter_bach_thesis_website.pdf" target="_blank" rel="noopener noreferrer" class="hover:underline">Verifying Mutual Exclusion with TLA⁺<mat-icon class="ml-1 download-icon">download</mat-icon>
          </a>, supervised by <a href="https://www.cs.uni-salzburg.at/~anas/" target="_blank" rel="noopener noreferrer">Prof. Sokolova</a></em>
        </div>
      </div>
      <mat-chip class="cv-chip ml-4">10/2021 - 08/2024</mat-chip>
    </div>

  </div>


  <!-- ===================== -->
  <!-- Work Experience -->
  <!-- ===================== -->

  <h1 class="text-3xl mt-10 mb-4">Work Experience</h1>

  <div class="space-y-6">

    <div class="flex justify-between items-start">
      <div>
        <div class="text-xl font-semibold">Research Assistant (with a bachelor's degree)</div>
        <div class="text-gray-300">RWTH Aachen University, DE</div>
        <div class="text-gray-400 mt-1">
          <em><a href="https://moves.rwth-aachen.de/" target="_blank" rel="noopener noreferrer">MOVES</a> group,
            headed by <a href="https://moves.rwth-aachen.de/people/katoen/" target="_blank" rel="noopener noreferrer">Prof. Katoen</a></em>
        </div>
      </div>
      <mat-chip class="cv-chip ml-4">11/2024 - Now</mat-chip>
    </div>

    <div class="flex justify-between items-start">
      <div>
        <div class="text-xl font-semibold">Research Assistant</div>
        <div class="text-gray-300">University of Salzburg, AT</div>
        <div class="text-gray-400 mt-1">
          <em><a href="https://www.plus.ac.at/efficient-algorithms/" target="_blank" rel="noopener noreferrer">Efficient Algorithms</a> group,
            headed by <a href="https://www.plus.ac.at/fachbereich-informatik/mitarbeiter/universitats-professoren/univ-prof-dipl-inform-dr-robert-elsaesser-2/" target="_blank" rel="noopener noreferrer">Prof. Elsässer</a></em>
        </div>
      </div>
      <mat-chip class="cv-chip ml-4">07/2023 - 09/2024</mat-chip>
    </div>

    <div class="flex justify-between items-start">
      <div>
        <div class="text-xl font-semibold">Tutor</div>
        <div class="text-gray-300">University of Salzburg, AT</div>
        <div class="text-gray-400 mt-1">
          <em>Formal Systems, Algorithms and Data Structures</em>
        </div>
      </div>
      <mat-chip class="cv-chip ml-4">10/2023 - 07/2024</mat-chip>
    </div>

    <div class="flex justify-between items-start">
      <div>
        <div class="text-xl font-semibold">Research & Teaching Assistant</div>
        <div class="text-gray-300">University of Salzburg, AT</div>
        <div class="text-gray-400 mt-1">
          <em><a href="https://www.plus.ac.at/efficient-algorithms/" target="_blank" rel="noopener noreferrer">Efficient Algorithms</a>
            and <a href="https://www.plus.ac.at/fachbereich-informatik/abteilungen-alt/software-systems-center/christoph-kirsch-group/" target="_blank" rel="noopener noreferrer">Computational Systems</a> groups,
            headed by <a href="https://www.plus.ac.at/fachbereich-informatik/mitarbeiter/universitats-professoren/univ-prof-dipl-inform-dr-robert-elsaesser-2/" target="_blank" rel="noopener noreferrer">Prof. Elsässer</a>
            and <a href="https://cs.uni-salzburg.at/~ck/" target="_blank" rel="noopener noreferrer">Prof. Kirsch</a></em>
        </div>
      </div>
      <mat-chip class="cv-chip ml-4">03/2023 - 07/2023</mat-chip>
    </div>

    <div class="flex justify-between items-start">
      <div>
        <div class="text-xl font-semibold">Software Developer</div>
        <div class="text-gray-300">Wüstenrot Datenservice GmbH, AT</div>
      </div>
      <mat-chip class="cv-chip ml-4">05/2016 - 03/2023</mat-chip>
    </div>

  </div>


  <!-- ===================== -->
  <!-- Talks -->
  <!-- ===================== -->

  <h1 class="text-3xl mt-10 mb-4">Talks</h1>

  <div class="space-y-6">

    <div class="flex justify-between items-start">
      <div>
        <div class="text-xl font-semibold">A Probabilistic Analysis of Simplified Cluedo with Storm</div>
        <div class="text-gray-300"><a href="https://www.stormchecker.org/" target="_blank" rel="noopener noreferrer">STORM</a> Days, Nijmegen, NL</div>
      </div>
      <mat-chip class="ml-4">04/2025</mat-chip>
    </div>

  </div>


  <!-- ===================== -->
  <!-- Awards -->
  <!-- ===================== -->

  <h1 class="text-3xl mt-10 mb-4">Awards</h1>

  <div class="space-y-6">

    <div class="flex justify-between items-start mb-5">
      <div>
        <div class="text-xl font-semibold">teampool award for outstanding bachelor's thesis</div>
      </div>
      <mat-chip class="cv-chip ml-4">10/2024</mat-chip>
    </div>

  </div>

</div>
