<div animate.enter="fade-in">
  <h1 class="text-3xl mb-4">Model Checking</h1>

  <div class="flex justify-between items-start">
    <div>
      <div class="text-xl font-semibold">Thunder</div>
      <div class="text-gray-300">Andreas Gerhards, Jannik Hiller, Johannes Kurth, Peter Lindner</div>
      <div class="text-gray-400 mt-1">
        <em>2024: Model Checker implemented in Rust as a result of the <a href="https://moves.rwth-aachen.de/teaching/ws-2024-25/gntmc/" target="_blank" rel="noopener noreferrer">practical course on model checking</a></em>
      </div>
    </div>
    <button matMiniFab class="ml-4" (click)="openLink('https://github.com/ThunderModelChecker/thunder')">
      <mat-icon class="link-icon">language</mat-icon>
    </button>
  </div>

  <h1 class="text-3xl mb-4 mt-10">Miscellaneous</h1>

  <div class="flex justify-between items-start">
    <div>
      <div class="text-xl font-semibold">cømpiler</div>
      <div class="text-gray-300">Drum & Bass and bass music alias</div>
      <div class="text-gray-400 mt-1">
        <em>2018 - now: Electronic music created in Ableton and occasionally played live</em>
      </div>
    </div>
    <button matMiniFab class="ml-4" (click)="openLink('https://www.compilerbeats.com/')">
      <mat-icon class="link-icon">language</mat-icon>
    </button>
  </div>
</div>
