<div class="min-h-screen flex flex-col">

  <!-- ===================== -->
  <!-- Header -->
  <!-- ===================== -->
  <main class="main">
    <mat-toolbar class="flex justify-between border-b-1 header">
      <div class="flex justify-start lg:justify-end w-2/4 lg:pr-65">
        <a style="text-decoration: none;"
          routerLink="/home"
          routerLinkActive="header-button-active"
          [routerLinkActiveOptions]="{ exact: true }">
          <span class="font-bold">Peter Lindner</span>
        </a>
      </div>

      <div class="hidden lg:inline-flex flex justify-start w-2/4 ml-0 lg:ml-5">
          <a class="header-button mr-5"
             [routerLink]="['/publications']"
             routerLinkActive="header-button-active"
             [routerLinkActiveOptions]="{ exact: true }">
            Publications
          </a>
          <a class="header-button mr-5"
             [routerLink]="['/projects']"
             routerLinkActive="header-button-active"
             [routerLinkActiveOptions]="{ exact: true }">
            Projects
          </a>
          <a class="header-button mr-5"
             [routerLink]="['/cv']"
             routerLinkActive="header-button-active"
             [routerLinkActiveOptions]="{ exact: true }">
            Curriculum Vitae
          </a>
      </div>

      <div class="lg:hidden">
        <button matMiniFab [matMenuTriggerFor]="menu">
          <mat-icon>menu</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item
                  [routerLink]="['/publications']">Publications</button>
          <button mat-menu-item
                  [routerLink]="['/projects']">Projects</button>
          <button mat-menu-item
                  [routerLink]="['/cv']">Curriculum Vitae</button>
        </mat-menu>
      </div>

    </mat-toolbar>
  </main>

  <!-- ===================== -->
  <!-- Main Content Area -->
  <!-- ===================== -->
  <div class="grid grid-cols-1 lg:grid-cols-2 pt-5 lg:pt-10 lg:flex-grow">

    <!-- Left column -->
    <div class="flex justify-center mb-5 lg:justify-end lg:pr-35">
      <div class="flex justify-center items-center flex-row lg:justify-start lg:flex-col">
        <img src="/assets/pb3.jpg" class="w-[100px] h-[100px] rounded-full object-cover lg:w-[200px] lg:h-[200px]"/>

        <div class="flex flex-col ml-3 lg:ml-0">
          <span class="lg:mt-2 lg:pt-5 text-lg font-bold mb-2">Peter Lindner</span>

          <p class="lg:mb-2">
            Aspiring theoretical computer scientist<br>
            with a strong interest in formal methods<br>
            and verification.
          </p>
        </div>

        <div class="flex flex-col hidden w-full lg:inline-flex">
          <div class="flex items-center mb-1">
            <mat-icon class="bio-icon">home</mat-icon>
            <span class="mt-1 ml-1">Aachen, Germany</span>
          </div>

          <div class="flex items-center mb-1">
            <mat-icon class="bio-icon">school</mat-icon>
            <span class="mt-1 ml-1">RWTH Aachen University</span>
          </div>

          <div class="flex items-center mb-1">
            <mat-icon class="bio-icon">mail</mat-icon>
            <span class="mt-1 ml-1">
            <a href="mailto:peter.lindner@rwth-aachen.de">Email</a>
            </span>
          </div>

          <div class="flex items-center mb-1">
            <img src="/assets/icons/LinkedIn_logo_initials.png" class="bio-custom-icon mt-1" />
            <span class="mt-1 ml-1">
            <a target="_blank" rel="noopener noreferrer"
               href="https://www.linkedin.com/in/peter-lindner-cs/">LinkedIn</a>
            </span>
          </div>

          <div class="flex items-center mb-1">
            <img src="/assets/icons/github-mark-white.png" class="bio-custom-icon mt-1" />
            <span class="mt-1 ml-1">
            <a target="_blank" rel="noopener noreferrer"
               href="https://github.com/plindnercs">GitHub</a>
            </span>
          </div>

          <div class="flex items-center">
            <img src="/assets/icons/64px-ORCID_iD.svg.png" class="bio-custom-icon mt-1" />
            <span class="mt-1 ml-1">
            <a target="_blank" rel="noopener noreferrer"
               href="https://orcid.org/0009-0008-1558-8595">ORCID</a>
            </span>
          </div>
        </div>
        </div>

    </div>

    <!-- Right column -->
    <div class="ml-3 mr-3 lg:max-w-[600px]" animate.enter="fade-in">
      <router-outlet></router-outlet>
    </div>

  </div>

  <!-- ===================== -->
  <!-- Footer -->
  <!-- ===================== -->
  <footer class="text-center pb-6 pt-4.75 lg:pt-6 text-gray-400 mt-auto border-t-1 footer">
    <div class="flex justify-center lg:hidden">
      <div class="flex mb-1 mr-1.5 ml-1.5">
        <span class="mt-1 ml-1 pt-1">
            <a href="mailto:peter.lindner@rwth-aachen.de">
              <mat-icon class="bio-icon">mail</mat-icon>
            </a>
        </span>
      </div>

      <div class="flex mb-1 mr-1.5 ml-1.5">
        <span class="mt-1 ml-1">
            <a target="_blank" rel="noopener noreferrer"
               href="https://www.linkedin.com/in/peter-lindner-cs/">
              <img src="/assets/icons/LinkedIn_logo_initials.png" class="bio-custom-icon mt-1" />
            </a>
        </span>
      </div>

      <div class="flex mb-1 mr-1.5 ml-1.5">
        <span class="mt-1 ml-1">
            <a target="_blank" rel="noopener noreferrer"
               href="https://github.com/plindnercs">
              <img src="/assets/icons/github-mark-white.png" class="bio-custom-icon mt-1" />
            </a>
        </span>
      </div>

      <div class="flex mb-1 mr-1.5 ml-1.5">
        <span class="mt-1 ml-1">
            <a target="_blank" rel="noopener noreferrer"
               href="https://orcid.org/0009-0008-1558-8595">
              <img src="/assets/icons/64px-ORCID_iD.svg.png" class="bio-custom-icon mt-1" />
            </a>
        </span>
      </div>
    </div>
    <p>
      © 2025 Peter Lindner. Powered by Angular, HTML, CSS and <mat-icon class="footer-icon">favorite</mat-icon>.
    </p>
  </footer>

</div>
